{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}

	<div class="container mt-3">

		<div>
			<a href="{{ path('main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
			<a href="{{ path('category_list') }}" class="btn btn-outline-primary">
				Liste des categories
			</a>
		</div>

		<div class="container border rounded w-50 p-5 mt-5">
			<h1>{{ category.name }}</h1>
			<p>{{ category.description }}</p>
		</div>
	</div>

{% endblock %}
