{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        max-width: 800px;
        font: 18px/1.5 sans-serif;
    }
</style>
<div class="example-wrapper container text-center mt-3">
    <h1>Bienvenue!</h1>
    <div class="mt-5">
        <div><a href="{{ path('article_list') }}" class="btn btn-outline-dark w-50 m-2">Voir les articles</a></div>
        <div><a href="{{ path('writer_list') }}" class="btn btn-outline-dark w-50 m-2">Voir les auteurs</a></div>
        <div><a href="{{ path('category_list') }}" class="btn btn-outline-dark w-50 m-2">Voir les categories</a></div>
        <div><a href="{{ path('admin_main') }}" class="btn btn-dark w-50 m-2">Administration</a></div>
    </div>
</div>
{% endblock %}